[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
e1839a8 = {path = ".",editable = true}
pyyaml = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
pytest-cov = "*"
flake8 = "*"
flake8-docstrings = "*"
black = {git = "https://github.com/psf/black.git",ref = "master",editable = true}
coveralls = "*"

[requires]
python_version = "3.8"
