[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
e1839a8 = {path = ".",editable = true}
pyaml = "*"
pyyaml = {version="==5.1", pre="true"} # CVE-2017-18342 Remove pyyaml after release of 4.2 or greater

[dev-packages]
pytest = "*"
requests-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
